<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
  </ion-buttons>
    

    <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm>
              <div class="logo"><strong><i>cbseMitra</i></strong></div>
                
          </ion-col>
          <ion-col class="ion-text-center" size="4" size-sm>
           <ion-button>Join Now</ion-button>
          </ion-col>
          </ion-row>
          </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="banner">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class ="ion-text-center heading1">
              <strong>Multiply your school learning  </strong>
              
            </div>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
              <div class ="ion-text-center heading2">
               <i> India's best learning app for classes 5th to 12th</i>
                
              </div>
            </ion-col>
            
          
          </ion-row>
          <ion-row>
              <ion-col>
                    <div class ="ion-text-center">
                     
                      <img src="/assets/education.png">
                    </div>
                  </ion-col>
                  
                
                </ion-row>
                <ion-row>
                    <ion-col>
                          <div class ="ion-text-center">
                           
                              <form >
                                <div class="form-group">
                                  
                                  <input type="text" class="form-control" id="phone" placeholder="Phone number..." name="phone">
                                </div>
                               
                                
                              </form>
                          </div>
                        </ion-col>
                        
                      
                      </ion-row>

                      <ion-row>
                          <ion-col>
                                <div class ="ion-text-center">
                                 
                                    <ion-button>Join Now</ion-button>
                                </div>

                                
                              </ion-col>
                              
                            
                            </ion-row>

                            <ion-row>
                                <ion-col>
                                      <div class ="ion-text-center">
                                       
                                          <img src="/assets/android.svg">  
                                      </div>
      
                                      
                                    </ion-col>

                                    <ion-col>
                                        <div class ="ion-text-center">
                                            <img src="/assets/ios.png">
                                            
                                        </div>
        
                                        
                                      </ion-col>
                                    
                                  
                                  </ion-row>
          </ion-grid>
</div>


<div>

  <ion-grid>
    <ion-row>
      <ion-col size="4">

          <img src="/assets/detail.png">
      </ion-col>

      <ion-col size="8">


        <div class="ion-text-start detail">
           <i> We believe that every student learns differently and we work towards helping them learn better.</i>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        
  
        <ion-col size="8">
  
  
          <div class="ion-text-start detail">
              <i>Even if its the middle of the night students can chat with experts to get their doubts solved instantly.</i>
          </div>
        </ion-col>
        <ion-col size="4">
  
            <img src="/assets/detail.png">
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="4">
    
              <img src="/assets/detail.png">
          </ion-col>
    
          <ion-col size="8">
    
    
            <div class="ion-text-start detail">
               <i> Our four moduls work seamlessly to boost every student's growth, helping them learn better.</i>
            </div>
          </ion-col>
        </ion-row>
        
  </ion-grid>
</div>



<div class="schedule">
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-center heading1">

          <strong>Request a Free 60 minute Counselling session </strong>
      </div>
      <div style="margin-top:20px;">
          <form >
              <div class="form-group">
                
                <input type="text" class="form-control" id="phone" placeholder="Phone number..." name="phone">
              </div>
             
              
            </form>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
            <div class ="ion-text-center">
             
                <ion-button>Schedule Now</ion-button>
            </div>

            
          </ion-col>
          
        
        </ion-row>
</ion-grid>


</div>


<div class="comments">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <strong>Our students and parents love us!</strong>

      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-text-center">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>93% CBSE Class 11th </ion-card-subtitle>
                  <ion-card-title>Shashank</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                 I loved that I could revisit video lectures anytime.It was like my professor is in my pocket.
                </ion-card-content>
              </ion-card>
  
        </ion-col>
      </ion-row>
      <ion-row>
        
        <ion-col class="ion-text-center">
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>95% CBSE Class 12</ion-card-subtitle>
                  <ion-card-title>Aman</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                 The teachers on doc solved my doubts even at 2 am, which helped me learn without breaking my flow.
                </ion-card-content>
              </ion-card>
  
        </ion-col>

        
      </ion-row>
      <ion-row>
        
          <ion-col class="ion-text-center">
              <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>91% CBSE Class 11</ion-card-subtitle>
                    <ion-card-title>Sunil</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                   The test helped me gauge my performance and track my improvement over time.
                  </ion-card-content>
                </ion-card>
    
          </ion-col>
  
          
        </ion-row>
  </ion-grid>
</div>

<div class="footer">
    <ion-grid>
        <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <strong>We deals</strong>
              </div>
      
            </ion-col>
          </ion-row>

        <ion-row>
            <ion-col  size="4">
                <div class="ion-text-center">
                    <p>Boards</p>
                    <p><u>Hello</u></p>
                      
                    <p><u>Hello</u></p>
                      

                    <p><u>Hello</u></p>
                    <p><u>Hello</u></p>
                    <p><u>Hello</u></p>
                   
                      
                      
                </div>
        
              </ion-col>

              <ion-col  size="4">
                  <div class="ion-text-center">

                      <p>Exams</p>
                      <p><u>Hello</u></p>
                      <p><u>Hello</u></p>
                      <p><u>Hello</u></p>
                      <p><u>Hello</u></p>
                      <p><u>Hello</u></p>
                     
                        
                  </div>
          
                </ion-col>
                <ion-col  size="4">
                    <div class="ion-text-center">
  
                        <p>Classes</p>
                        <p><u>Hello</u></p>
                        <p><u>Hello</u></p>
                        <p><u>Hello</u></p>
                        <p><u>Hello</u></p>
                        <p><u>Hello</u></p>
                       
                          
                    </div>
            
                  </ion-col>
          
            
          </ion-row>
          <ion-row>
              
              <ion-col size="6">
                  <div class="ion-text-center" >

                      
                     About Us
                        
                  </div>
          
                </ion-col>

                <ion-col size="6">
                    <div class="ion-text-center" >
  
                        
                       Contact Us
                          
                    </div>
            
                  </ion-col>
  

          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="ion-text-center">

                      
                     All rights reserverd
                        
                  </div>
          
                </ion-col>

          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="ion-text-center">

                      
                     Copyright @cbsemitra.com
                        
                  </div>
          
                </ion-col>

          </ion-row>
          
        </ion-grid>
</div>



</ion-content>
